/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.navbarColor {
    background-color: #FEFF42;
}

.jumbotronColor {
    background: linear-gradient(135deg, #181818, #e4e4e2);
  color: white;
}

.arknightsButton {
    background-color: #FEFF42
}